body{
    margin: 0;
    text-align: center;
    padding-top: 10px;
    background: black;
    
}

#display{
    height: 100px;
    width: 380px;
    font-size: 250%;
    margin-bottom: 50px;
    outline: none;
}

.buttons button{
    height: 80px;
   width: 60px;
   text-align: center;
   background: white;
   margin: 5px;
   font-size: 200%;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

/* background buttons */

.footer-buttons{
    
    width: 350px;
    height: 100px;
    background: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    font-size: 0.5em;
}

.text{
    background: lightpink;
    position: fixed;
    bottom: 100px;
    text-align: center;
    width: 100%;
    font-style: italic;
    text-decoration: underline dotted;

}

 .footer-buttons  button{
   height: 30px;
   width: 40px;  
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
   padding: 0;  
}

#green-btn{
    background: lightgreen;
}

#blue-btn{
    background: lightblue;
}

#black-btn{
    background: #15192af2;
    color: white;
}

#white-btn{
    background: white;
}

#gray-btn{
    background: lightgray;
    text-decoration: underline solid blue;
}

.more-btn{
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 6px;
    height: 88px;
    border: none;
    background: lightpink;
    text-decoration: none;
}


.close {
      position: absolute;
      height: 50px;
      background: red;
      padding: 3px;
      right: 5px;
      font-size: 50px;
      font-weight: 700;
      text-decoration: none;
      color: white;   
       }
      
  .container {
      z-index: 5;
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
      box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
       }
       
  .lightbox {
      visibility: hidden;
      display: table; 
      position: fixed;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background: rgba(0, 0, 0, 0.7); 
    } 
    
 .lightbox:target {
      visibility: visible;
    }     

.container button{
        
          border-radius: 10px;
          padding:  10px;
          border: 2px solid;
          background: lightgray;
        }
  .container-btn{
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      psition: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: lightblue;
      width: 100%;
      
  } 
      
